{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <h1>Inscrivez-vous sur SkillPortal</h1>

    {{ form(form) }}

    <a href="{{ path('app_login', [], false) }}"><i>Vous avez pas déjà un compte ? Connectez-vous</i></a>

{% endblock %}
