body {
    background-color: lightgray;
    font-size: 1.4rem;
    font-family: sans-serif;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}
h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}