.profile-field__label {
    color: darkred;
}

.profile-field__content {
    display: inline-block;
    border-radius: .5rem;
    background-color: wheat;
    min-width: 10vw;
    min-height: 2rem;
    line-height: 2rem;
}
