.main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.button__edit-profile {
    background-color: midnightblue;
    color: white !important;
    margin-bottom: 1rem;
    padding: .75rem 2rem;
    text-align: center;
    border-radius: 1rem;
    width: max-content;
}

.profile-content {
    display: flex;
    height: 100%;
    border: solid 1px saddlebrown;
    border-radius: .2rem;
    > * {
        padding: 1rem;
    }
}

.info-details {
    flex-grow: 2;
    background-color: wheat;
    display: flex;
    flex-direction: column;
}

.profile-info__navlink:active{
    background-color: darkslategrey;
    color: white;
}

.profile_more-info__content {
    flex-grow: 2;
    background-color: white;
}

.profile-info {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.profile-info.banner {
    background-color: darkred;
    color: white;
    margin: 1rem 0;
    padding: .5rem;
    text-align: center;
    border-radius: 2rem;
}

.profile-field__label {
    color: darkred;
    margin-bottom: .5rem;
}

.profile-field__content:not(.main-skills) {
    display: inline-block;
    border-radius: .5rem;
    background-color: wheat;
    min-width: 10vw;
    min-height: 2rem;
    line-height: 2rem;
}

nav.profile_more-info__navbar {
    margin-bottom: 1rem;
    ul {
        display: flex;

        > * {
            margin-right: 2rem;
        }
    }
}

.main-skills .tag {
    margin: 0 .3rem;
    padding: .3rem .5rem;
    background-color: #363636;
    color: white;
}